cloudpickle
crafter
gym~=0.26.2
jax~=0.3.25
jaxlib
numpy~=1.24.4
optax~=0.1.7
rich~=11.2.0
ruamel.yaml
tensorflow-cpu
tensorflow_probability

matplotlib~=3.7.2
setuptools~=68.0.0
pandas~=2.0.3
tqdm~=4.62.3
torch~=2.0.1
opt_einsum~=3.3.0
einops~=0.6.1